Sets

In [1]:
animals = {'rat', 'cat', 'dog', 'horse'}   #Sets are mutable and denoted by curly Brackets i.e. {}

In [3]:
animals

{'cat', 'dog', 'horse', 'rat'}

In [4]:
animals[0]   #One can't check the index directly in Sets

TypeError: 'set' object is not subscriptable

In [6]:
'rat' in animals

True

In [7]:
'bat' in animals

False

In [8]:
animals.add('ant')

In [9]:
animals

{'ant', 'cat', 'dog', 'horse', 'rat'}

In [10]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [11]:
animals.pop()    #pop removes the last element of the set similar as list

'ant'

In [12]:
animals

{'cat', 'dog', 'horse', 'rat'}

In [16]:
animals.remove('cat')    #Remove the passed arguments.

In [17]:
animals

{'dog', 'horse', 'rat'}

In [18]:
# All the Set Operation can be perfomed using Set

In [80]:
a = {1, 2, 44, 65, 23 , 2, 43}
b = {23, 1, 34, 54, 65, 2, 10, 23, 43, 44, 6}

In [81]:
a,b    #By default it represent the tuple

({1, 2, 23, 43, 44, 65}, {1, 2, 6, 10, 23, 34, 43, 44, 54, 65})

In [82]:
a.union(b)  #Combine all the element of both the sets and return all unique elements only

{1, 2, 6, 10, 23, 34, 43, 44, 54, 65}

In [83]:
a,b  #original set elemnet won't change here

({1, 2, 23, 43, 44, 65}, {1, 2, 6, 10, 23, 34, 43, 44, 54, 65})

In [84]:
a.difference(b) #returns the element of 1st set which are not presnet in 2nd sets

set()

In [85]:
a,b   #original set elemnet won't change here

({1, 2, 23, 43, 44, 65}, {1, 2, 6, 10, 23, 34, 43, 44, 54, 65})

In [86]:
a.intersection(b)  #returns the common element of both the sets

{1, 2, 23, 43, 44, 65}

In [87]:
a,b   #original set elemnet won't change here

({1, 2, 23, 43, 44, 65}, {1, 2, 6, 10, 23, 34, 43, 44, 54, 65})

In [88]:
a.issubset(b)  ## all the element of a is present in b hence a is subset  of b and b is super set of a.

True

In [90]:
b.issuperset(a)

True

In [78]:
a.clear()   #clears the set elements
b.clear()

In [91]:
a,b   # display the empty sets if no elements present

({1, 2, 23, 43, 44, 65}, {1, 2, 6, 10, 23, 34, 43, 44, 54, 65})

In [92]:
a.__and__(b)   #same as intersection

{1, 2, 23, 43, 44, 65}

In [98]:
a.__or__(b)   ##Same as Union    ## 2+3 = 5

{1, 2, 6, 10, 23, 34, 43, 44, 54, 65}

In [99]:
a.__ior__(b)                    ## 2 += 3

{1, 2, 6, 10, 23, 34, 43, 44, 54, 65}

In [100]:
a.__ror__(b)                   ## 2+3 == 3+2

{1, 2, 6, 10, 23, 34, 43, 44, 54, 65}

In [ ]:
#Some methods doesn't have their counter parts directly.
#    __add__    2 + 3 = 5
#    __iadd__   2 += 3
#    __radd__   2 + 3 == 3 + 2